*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@300;400;700&family=Montserrat:wght@300;400;700&display=swap');



.topbar {
    position: fixed;
    width: 100%;
    background-color: #000;
    &__content {
        overflow: hidden;   
    }
    &__item{
        color: rgb(255, 217, 0);
    }
    &__item:hover{
        transition: 0.2s;
        font-size: 22px;
    }
    &__link {
        font-family: 'montserrat';
        color: #fff;
        float: left;
        padding: 10px;
        font-size: 20px;
        text-transform: uppercase;
    }
    &__link:hover{
        transition: 0.2s;
        font-size: 22px;
    }
}
.main {
    background-image: url(../img/mykola.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left left;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    &__content {
        
    justify-content: center;
        text-transform: uppercase;
        font-size: 110px;
        color: #fff;
        text-align: center;
        
        font-family: 'antonio';
        letter-spacing: 10px;

    }

    &__title {
        color: rgb(255, 217, 0);
        margin-bottom: 10px;
    }

    &__undertitle {
        
    }

}
.service{
    display: flex;
    height: 100%;
    width: 100%;
}
